<!DOCTYPE html>
<html>
<head>
    <title>Hospital Appointment System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/healthcare.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<header>
    <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Hospital Logo">
    <h1>Lunetic InnovationS Hospital</h1>
</header>

<nav>
    <a href="home.html">🏤 Home</a>
    <a href="services.html">🚮Services</a>
    <a href="doctor.html">👨‍⚕️Doctors</a>
    <a href="appointment.html">📆Appointments</a>
    <a href="adminlogin.html">👨‍💻Admin login</a>
    <a href="contact.html">📞Contact</a>
</nav>
<body style="background: linear-gradient( #f16ed2, #4ff0dd, #6b40ec);">

    

<div class="login-body">
    <div class="login-container">
        <h2>Login</h2>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <form class="login-form"  method="post" action="/login">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" class="login-input" placeholder="Enter your username" required>
          <br>
    
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="login-input" placeholder="Enter your password" required>
    
          <button type="submit" class="login-button">Login</button>
        </form>
        <br>
        <p class="no-account">Don't remember the password? <a href="CreateAccount.html">Forgot Password</a></p>
    </div>
</div>
    
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Lunetic InnovationS Hospital. All Rights Reserved.</p>
        <div class="social-links">
            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-link"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
</footer>
    <script src="{{ url_for('static',filename='js/healthcare.js')}}"></script>
</body>
</html>
